& {
    --navbar-tab-toolbar-highlight-overlap: 0 !important;

    color: var(--chrome-color) !important;

    --toolbarbutton-background: none !important;
    --toolbarbutton-hover-background: var(--toolbarbutton-hover-background) !important;
    --toolbarbutton-active-background: var(--toolbarbutton-active-background) !important;

    --toolbarbutton-border-color: rgba(0,0,0,0) !important;
    --toolbarbutton-hover-border-color: var(--toolbarbutton-hover-bordercolor) !important;
    --toolbarbutton-active-border-color: var(--toolbarbutton-active-bordercolor) !important;

    --toolbarbutton-box-shadow: none !important;
    --toolbarbutton-hover-box-shadow: var(--toolbarbutton-hover-boxshadow) !important;
    --toolbarbutton-active-box-shadow: var(--toolbarbutton-active-boxshadow) !important;

    --backbutton-background: var(--chrome-nav-buttons-background) !important;
    --backbutton-hover-background: var(--toolbarbutton-active-background)  !important;
    --backbutton-active-background: var(--toolbarbutton-active-background) !important;

    --backbutton-background-color: var(--chrome-nav-buttons-background) !important;

    --backbutton-border-color: var(--chrome-nav-bar-controls-border-color) !important;
    --backbutton-hover-border-color: var(--chrome-nav-bar-controls-border-color) !important;
    --backbutton-active-border-color: var(--chrome-nav-bar-controls-border-color) !important;

    --backbutton-box-shadow: var(--toolbarbutton-box-shadow) !important;
    --backbutton-hover-box-shadow: var(--toolbarbutton-hover-box-shadow) !important;
    --backbutton-active-box-shadow: var(--toolbarbutton-active-box-shadow) !important;
    --backbutton-disabled-box-shadow: var(--backbutton-box-shadow) !important;

    --forwardbutton-border-color: var(--chrome-nav-bar-controls-border-color) !important;
    --forwardbutton-hover-border-color: var(--chrome-nav-bar-controls-border-color) !important;
    --forwardbutton-active-border-color: var(--chrome-nav-bar-controls-border-color) !important;

    --forwardbutton-inner-inline-padding: 7px 3px !important; 

    --forwardbutton-box-shadow: var(--toolbarbutton-box-shadow) !important;
    --forwardbutton-hover-box-shadow: var(--toolbarbutton-hover-box-shadow) !important;
    --forwardbutton-active-box-shadow: var(--toolbarbutton-active-box-shadow) !important;
    --forwardbutton-disabled-box-shadow: var(--forwardbutton-box-shadow) !important;

    //#navigator-toolbox > #nav-bar .toolbarbutton-1:not(.unified),
    //#PersonalToolbar .bookmark-item:not(menuitem, .subviewbutton),
    //#PersonalToolbar .toolbarbutton-1 {
    //    background-clip: padding-box !important;
//
    //    &:not([disabled="true"]):hover {
    //        background: var(--toolbarbutton-hover-background) !important;
    //        border-color: var(--toolbarbutton-hover-bordercolor) !important;
    //        --toolbarbutton-border-color: var(--toolbarbutton-hover-bordercolor) !important;
    //        box-shadow: var(--toolbarbutton-hover-boxshadow) !important;
    //        color: inherit !important;
    //    }
//
    //    &:not([disabled="true"]):hover:active,
    //    &:not([disabled="true"])[open] {
    //        background: var(--toolbarbutton-active-background) !important;
    //        border-color: var(--toolbarbutton-active-bordercolor);
    //        --toolbarbutton-border-color: var(--toolbarbutton-active-bordercolor) !important;
    //        border-top-color: var(--toolbarbutton-active-bordercolor) !important;
    //        box-shadow: var(--toolbarbutton-active-boxshadow) !important;
    //        transition-duration: 10ms !important;
    //        color: inherit !important;
    //    }
    //}
//
    //#navigator-toolbox > #nav-bar .echelon-unified-bookmarks-menu-button {
    //    &:is(:hover, [open]):not([disabled="true"]) {
    //        .toolbarbutton-menubutton-button,
    //        .toolbarbutton-menubutton-dropmarker {
    //            background: var(--toolbarbutton-hover-background) !important;
    //            border-color: var(--toolbarbutton-hover-bordercolor) !important;
    //            --toolbarbutton-border-color: var(--toolbarbutton-hover-bordercolor) !important;
    //            box-shadow: var(--toolbarbutton-hover-boxshadow) !important;
    //            color: inherit !important;
//
    //            &:active,
    //            &[open] {
    //                background: var(--toolbarbutton-active-background) !important;
    //                border-color: var(--toolbarbutton-active-bordercolor);
    //                --toolbarbutton-border-color: var(--toolbarbutton-active-bordercolor) !important;
    //                border-top-color: var(--toolbarbutton-active-bordercolor) !important;
    //                box-shadow: var(--toolbarbutton-active-boxshadow) !important;
    //                transition-duration: 10ms !important;
    //                color: inherit !important;
    //            }
    //        }
    //    }
    //}

    #navigator-toolbox {
        background-color: var(--chrome-background-color) !important;

        & > toolbar {
            background-color: var(--chrome-secondary-background-color) !important;
            background-image: none !important;
            color: var(--chrome-color) !important;
        }

        &::after {
            background-color: var(--chrome-navigator-toolbox-separator-color) !important;
        }

        #nav-bar {
            #back-button {
                &:is(.unified-with-urlbar)
                {
                    --toolbarbutton-width: 28px !important;
                    --toolbarbutton-height: 28px !important;
                    border-radius: 2px 0 0 2px !important;
                    padding: 0 !important;
                }
            }

            #forward-button {
                &:is(.unified-with-urlbar)
                {
                    --toolbarbutton-width: 27px !important;
                    background: var(--backbutton-background) !important;
                    clip-path: none !important;
                    margin-inline-start: 0 !important;
                    border-inline-start: none !important;
                    padding: 0 !important;
                    
                    &:not([disabled="true"])[open],
                    &:not([disabled="true"]):hover,
                    &:not([disabled="true"]):hover:active {
                        background: var(--backbutton-hover-background) !important;
                    }
                }
            }
        }
    }
}