/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import "../_mixins.scss";
 *   |         ^^^^^^^^^^^^^^^^^
 *   '
 *   scss-src\chrome\firefox-4\panel\_arrowpanel.scss 1:9  @import
 *   scss-src\chrome\firefox-4\_style.uc.scss 2:9          @import
 *   scss-src\chrome\_styles.uc.scss 2:9                   @import
 *   echelon.uc.scss 1:9                                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import \"../_mixins.scss\";\d\a   \2502          ^^^^^^^^^^^^^^^^^\a   \2575 \a   scss-src\\chrome\\firefox-4\\panel\\_arrowpanel.scss 1:9  @import\a   scss-src\\chrome\\firefox-4\\_style.uc.scss 2:9          @import\a   scss-src\\chrome\\_styles.uc.scss 2:9                   @import\a   echelon.uc.scss 1:9                                   root stylesheet";
}
