/*
 * Hi! Are you looking to add another style on top of Echelon?
 *
 * This file should probably not be modified directly. Custom changes can be added in
 * a safe way by creating a new file called "_chrome_user.css". This ensures that your
 * changes will not be overwrote by Echelon updates.
 *
 * If you wish to contribute to Echelon, then please contribute changes to the SCSS
 * source, which is put into _echelon.css.
 */

@import url("echelon.css");

/* Additional styles from the user ignored by Git. */
@media (-moz-platform: linux) {

    :root[echelon-style-6][sizemode="normal"]
    #toolbar-menubar ~ #TabsToolbar .toolbar-items {
    margin-top: 15px !important;
    }

    :root:not([echelon-style-6]):not([tabsintitlebar="true"]) #appmenu-button-container {
        margin-block-start: 0 !important;
    }

    :root:not([echelon-style-6]):not([tabsintitlebar="true"]) #appmenu-button-container {
        visibility: visible !important;
    }

    :root:not([echelon-system-style="winxp"]):not([lwtheme])[sizemode="normal"] #appmenu-button-container {
        margin-block-start: 0 !important;
    }

}
