:root {
    --about-logo: image-set(url("chrome://branding/content/about-logo.png") 1x, url("chrome://branding/content/about-logo@2x.png") 2x);
}

:root {
    color-scheme: light !important;
}

body {
    display: none;
}